extends layout

block content
    script(src='javascripts/config.js')
     link(rel='stylesheet', href='stylesheets/admin-lte/dist/css/adminlte.min.css')

    div(class="box box-solid box-primary")
        div(class="box-header" style="text-align:center;margin-bottom:40px;font-weight:bold") M Ó D U L O &nbsp C O N F I G U R A D O R
        div(class="box-body")
            div(id="testeBox" class="box" data-widget="box-refresh" data-source="/config")
                div(class="box-header")
                    h3(id="titleBox" class="box-title" style="text-align:center;margin-bottom:40px;font-weight:bold") R O T I N A S  
                        button(id="btnRemoveRoutine" class="btn btn-danger" data-toggle="modal" data-target="#deleteRoutineModal" style="float:right; display:none ")
                            i(class="fas fa-trash")
                        button(id="btnUpdateRoutine" class="btn btn-warning" data-toggle="modal" data-target="#updateRoutineModal" style="float:right; display:none")
                            i(class="fas fa-wrench")
                        button(class="btn btn-primary" data-toggle="modal" data-target="#mymodal" style="float:right") +
                        a(href="/")
                            button(class="btn btn-primary" title="Configurador" style="float:left")
                                i(class="fa fa-home")                                          
        div(class="form-group")
            select(id="comboRotina" onchange="carregaOperacoes(event.target.value)" class="form-control") 
                option(value='') Selecione a rotina...
                    each objeto in objetos
                        option(value=objeto.id) #{objeto.nome}   
    br
    div(id="newOperationCard" class="card card-primary" style="display:none")
        div(class="card-header")
            h5(class="card-title") Nova Operação
            div(class="card-tools")
                button(type="button" class="btn btn-tool" data-card-widget="collapse")
                    i(class="fas fa-plus")
        div(class="card-body bg-gradient-default")
            div(class="form-group")
                input(id="operationName" class="form-control" type="text" aria-describedby="rotinaHelp" placeholder="Nome da Operação")
                br
                br
                textarea(id="operationText" class="col-md-12" rows="10" placeholder="Preencha aqui as instruções da operação a ser cadastrada.")
        div(class="card-footer bg-gradient-primary")
            button(class="btn btn-default" style="float: right" onclick="insertOperation()") Gravar
    div(class="content")
        div(class="content-head")
            div(class="content-fluid")
                div(id="operacoes1")

    div(class="modal fade" id="mymodal" style="display:none" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")     
                div(class="modal-header")
                    h4(class="modal-title") Nova Rotina                            
                div(class="modal-body")
                    form
                        div(class="form-group")
                            input(id="ip1" class="form-control" type="text" aria-describedby="rotinaHelp" placeholder="Nome da rotina")
                            small(id="rotinaHelp" class="form-text text-muted") Exemplo: MATA010
                        div(class="form-group")
                            input(id="ip2" class="form-control" type="text" aria-describedby="descHelp" placeholder="Descrição da rotina")
                            small(id="descHelp" class="form-text text-muted") Exemplo: Cadastro de Produtos   
                div(class="modal-footer justify-content-between")
                    button(type="button" class="btn btn-success" onclick="btnIncluirRotina()") Salvar 
                    button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
                    
    div(class="modal fade" id="updateRoutineModal" style="display:none" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")     
                div(class="modal-header")
                    h4(class="modal-title") Alterar Rotina                            
                div(class="modal-body")
                    form
                        div(class="form-group")
                            input(id="up1" class="form-control" type="text" aria-describedby="rotinaHelp" placeholder="Nome da rotina")
                            small(id="rotinaHelp" class="form-text text-muted") Exemplo: MATA010
                        div(class="form-group")
                            input(id="up2" class="form-control" type="text" aria-describedby="descHelp" placeholder="Descrição da rotina")
                            small(id="descHelp" class="form-text text-muted") Exemplo: Cadastro de Produtos   
                div(class="modal-footer justify-content-between")
                    button(type="button" class="btn btn-warning" onclick="alteraRotina()") Salvar 
                    button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar                    

    div(class="modal fade" id="deleteRoutineModal" style="display:none" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")     
                div(class="modal-header")
                    h4(class="modal-title") Excluir Rotina                            
                div(class="modal-body")
                    form
                        p Deseja excluir a rotina e todas as operações relacionadas a ela?
                div(class="modal-footer justify-content-between")
                    button(type="button" class="btn btn-danger" onclick="btnRemoverRotina()") Excluir
                    button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar   

    div(class="modal fade" id="deleteOperationModal" style="display:none" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")     
                div(class="modal-header")
                    h4(class="modal-title") Deletar Operação                             
                div(class="modal-body")
                    div(class="form-group")
                        h6 Deseja mesmo deletar essa operação? 
                div(class="modal-footer justify-content-between")
                    button(name="btnDelete" type="button" class="btn btn-danger") Deletar 
                    button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar                                           
            