doctype html
html
  head
    title= title
    link(rel="stylesheet" href="stylesheets/admin-lte/dist/css/AdminLTE.min.css")
    link(rel="stylesheet" href="stylesheets/style.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='javascripts/globals.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css")

    link(rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    link(rel='stylesheet', href='stylesheets/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
    link(rel='stylesheet', href='stylesheets/admin-lte/dist/css/adminlte.css')
    link(rel='stylesheet', href='stylesheets/admin-lte/dist/css/adminlte.css.map')
    link(rel='stylesheet', href='stylesheets/admin-lte/dist/css/adminlte.min.css')
    link(rel='stylesheet', href='stylesheets/admin-lte/dist/css/adminlte.min.css.map')
    link(rel='stylesheet', href='stylesheets/admin-lte/plugins/fontawesome-free/css/all.min.css')

    script(src='stylesheets/admin-lte/plugins/jquery/jquery.min.js')
    // Bootstrap 
    script(src='stylesheets/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // overlayScrollbars 
    script(src='stylesheets/admin-lte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
    // AdminLTE App 
    script(src='stylesheets/admin-lte/dist/js/adminlte.js')
    // OPTIONAL SCRIPTS 
    script(src='stylesheets/admin-lte/dist/js/demo.js')
    // PAGE PLUGINS 
    // jQuery Mapael 
    script(src='stylesheets/admin-lte/plugins/jquery-mousewheel/jquery.mousewheel.js')
    script(src='stylesheets/admin-lte/plugins/raphael/raphael.min.js')
    script(src='stylesheets/admin-lte/plugins/jquery-mapael/jquery.mapael.min.js')
    script(src='stylesheets/admin-lte/plugins/jquery-mapael/maps/world_countries.min.js')
    // ChartJS 
    script(src='stylesheets/admin-lte/plugins/chart.js/Chart.min.js')
    // PAGE SCRIPTS 
    script(src='stylesheets/admin-lte/dist/js/pages/dashboard2.js')

  body(style="padding:20px;background-color:#E6E6FA")
    block content
    
    script(src='javascripts/index.js')
    script(src='javascripts/globals.js')