
/* body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 90%;
  padding: 30px;
} */


/* #textoRotina {
  height: 50vh;
  border-radius: 5px;
}

#textoCT {
  height: 60vh;
  border-radius: 5px;
} */

